<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<a href="/categories/new">Create New Category</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryId}">1</td>
        <td th:text="${category.categoryName}">Category Name</td>
        <td>
            <a th:href="@{/categories/{id}(id=${category.categoryId})}">Edit</a>
            <a th:href="@{/categories/delete/{id}(id=${category.categoryId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
