<form action="" th:fragment="footer">
    <div class="footer-wrap">
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer8.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer3.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer4.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer5.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer6.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footer7.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-inline">
                <img class="footer-img" src="../img/footer/footrer2.jpg" width="345" height="345" alt="Avatar">
                <div class="footer-overlay">
                    <div class="overlay-text">@Merle Bleu<br>프랑스 패션 <br>소셜네트워크</div>
                </div>
            </div>
        </div>
    </div>

</form>
<form action="" th:fragment="footer">
    <div class="footer-middle-wrap">
        <div class="footer-middle-content">
            <div class="footer-middle-title">
                <h3>EVENT</h3>
            </div>
            <ul>
                <a href="#">
                    <li>6월 배송지연관련안내</li>
                </a>
                <a href="#">
                    <li>리뷰응모이벤트 당첨자 발표</li>
                </a>
                <a href="#">
                    <li>개인정보 취급방침 변경 안내</li>
                </a>
            </ul>
        </div>
        <div class="footer-middle-content2">
            <div class="footer-middle-title">
                <h3>ABOUT US</h3>
            </div>
            <ul>
                <a href="#">
                    <li>기업소개</li>
                </a>
                <a href="#">
                    <li>이용안내</li>
                </a>
                <a href="#">
                    <li>회원혜택</li>
                </a>
                <a href="#">
                    <li>EVENT</li>
                </a>
            </ul>
        </div>
    </div>
</form>

<form action="" th:fragment="footer">
    <div class="footer-bottom-wrap" >
        <div class="footer-bottom-content">
            <div class="footer-bottom-title">
                <a href="#">이용약관</a><a href="#">개인정보처리방침</a><a href="#">에스크로서비스 가입확인</a>
            </div>
            <div class="footer-bottom-detail">상호:㈜Merle Bleu <span class="footer_ footer-bottom-span">공동대표:
                        서민규</span>
                박주형</span><br>주소:부산광역시 부산진구 중앙대로 631 선물빌딩 10F <span
                        class="footer-bottom-span2 footer_2"></span>전화:080-000-0000 <span
                        class="footer-bottom-span3 footer_3"></span>FAX:02-3485 -7599 <span
                        class="footer-bottom-span4 footer_4"></span>이메일:merlebleu@merlebleu.com
                <br>사업자등록번호:000-00-00000<a href="#">[사업자정보확인]</a><span
                        class="footer-bottom-span5 footer_5"></span><span class="f-b-l"></span>통신판매업신고번호:2017-서울강남-04214
                <span class="footer-bottom-span6 footer_6"></span> <span class="f-b-l"></span>개인정보보호책임자:이하늬 <br>고객님은
                안전거래를 위해 현금으로 결제 시 저희 쇼핑몰에 가입한 구매안전서비스를 이용하실 수 있습니다. <br><br>COPYRIGHTⓒ㈜Merle Bleu.all rights
                reserved. <span class="footer-bottom-span7 footer_7"></span><span class="f-b-l"></span>호스팅 제공자:㈜위사
                <span class="f-b-l"></span>managed by <b>WISA.
            </div>
            <div class="footer-bottom-right" >
                <ul style="list-style: none;">
                    <li style="color: rgb(255, 255, 255);">고객상담센터 운영시간</li>
                    <li style="color: rgb(255, 255, 255);">평일:오전10:00-오후17:00</li>
                    <li style="color: rgb(255, 255, 255);">점심시간:오후12:30-오후13:30 <br>주말,공휴일은 휴무입니다.</li>
                    <li style=" width: 75px;"><a href="#"><img width="20px" src="../img/icon/kakao.png" alt=""></a><a href="#"
                                                                                                                      style="margin-left: 10px;"><img src="../img/icon/instar.png" style="width: 20px;" alt=""></a></li>
                </ul>
                <div class="footer-middle-title" style="margin-top: 100px; position: absolute;">
                    <h3 style="color: rgb(255, 255, 255);">080-022-1500</h3>
                </div>
            </div>
        </div>
    </div>
</form>