<header class="common_menu" th:fragment="header">
    <nav class="header_nav ">
        <ul>
            <li><a href="/main#"><img src="../img/icon/home2.png" alt=""></a></li>
            <li><a href="#">브랜드</a></li>
            <li><a href="#">BEST</a></li>
            <li><a href="#" onmouseover="cateHover('cate_box_child9')" onmouseout="cateOut()">카테고리</a>
            </li>
            <li><a href="#">기획전</a></li>
            <li><a href="#">OUTLET</a></li>
            <li><a href="#">HOT KEYWORD</a></li>
            <li><a href="/admin/main">관리자</a></li>
        </ul>
        <div class="cate_box4 cate_box_child9" onmouseover="cateHover('cate_box_child9')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <h3 style="font-size: 15px;">전체보기</h3>
                    </div>
                    <div class="box_cont_top_menu">
                        <div class="nav_side_a">
                            <h3><a href="/merlebleu/search_outer#">아우터</a></h3>
                            <ul>
                                <li><a href="/merlebleu/outer-jacket#" style="width: 50px;">쟈켓</a></li>
                                <li><a href="/merlebleu/outer-jumper#" style="width: 50px;">점퍼</a></li>
                                <li><a href="/merlebleu/outer-trench-coat#" style="width: 85px;">트렌치코트</a></li>
                                <li><a href="/merlebleu/outer-coat#" style="width: 50px;">코트</a></li>
                                <li><a href="/merlebleu/outer-padding#" style="width: 80px;">다운/패딩</a></li>
                                <li><a href="/merlebleu/outer-mustang#" style="width: 80px;">무스탕/퍼</a></li>
                                <li><a href="/merlebleu/outer-cardigan#" style="width: 65px;">가디건</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_cont_top_menu2">
                        <div class="nav_side_a">
                            <h3><a href="/merlebleu/search_top#">탑</a></h3>
                            <ul>
                                <li><a href="/merlebleu/top-shirt#" style="width: 100px;">블라우스/셔츠</a></li>
                                <li><a href="/merlebleu/top-neat#" style="width: 60px;">티셔츠</a></li>
                                <li><a href="/merlebleu/top-tshirt#" style="width: 50px;">니트</a></li>
                                <li><a href="/merlebleu/top-sleeveless#" style="width: 90px;">슬리브리스</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_cont_top_menu3">
                        <div class="nav_side_a">
                            <h3><a href="/merlebleu/search_skirt#">스커트</a></h3>
                            <ul>
                                <li><a href="/merlebleu/skirt-mini#" style="width: 50px;">미니</a></li>
                                <li><a href="/merlebleu/skirt-pensil#" style="width: 50px;">팬슬</a></li>
                                <li><a href="/merlebleu/skirt-flare#" style="width: 60px;">플레어</a></li>
                                <li><a href="/merlebleu/skirt-denim#" style="width: 50px;">데님</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_cont_top_menu4">
                        <div class="nav_side_a">
                            <h3><a href="/merlebleu/search_pants#">팬츠</a></h3>
                            <ul>
                                <li><a href="/merlebleu/pants-formal#" style="width: 50px;">포멀</a></li>
                                <li><a href="/merlebleu/pants-casual#" style="width: 60px;">캐쥬얼</a></li>
                                <li><a href="/merlebleu/pants-shorts#" style="width: 50px;">쇼츠</a></li>
                                <li><a href="/merlebleu/pants-denim#" style="width: 50px;">데님</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_cont_top_menu5">
                        <div class="nav_side_a">
                            <h3><a href="/merlebleu/search_onepiece#">원피스</a></h3>
                            <ul>
                                <li><a href="/merlebleu/onepiece-mini#" style="width: 50px;">미니</a></li>
                                <li><a href="/merlebleu/onepiece-midi#" style="width: 50px;">미디</a></li>
                                <li><a href="/merlebleu/onepiece-long#" style="margin-left: -10px;">롱</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_logo_top">
            <a href="/main#" class="header_logo_top_a">
                <h1>Merle Bleu</h1>
            </a>
        </div>
        <ul class="top_logo">
            <li><a href="/members/login#">LOGIN/JOIN</a></li>
            <li><a href="" onmouseover="cateHover('cate_box_child8')"
                   onmouseout="cateOut()">COMMUNITY</a></li>
            <li><a href=""><img src="../img/icon/jjim.png" alt=""></a></li>
            <li><a href="" onmouseover="cateHover('cate_box_child7')" onmouseout="cateOut()"><img
                    src="../img/icon/loginwh.png" alt=""></a></li>
            <li><a href="/cart"><img src="../img/icon/j.png" alt=""></a></li>
            <li><a href="" onmouseover="cateHover('cate_box_child10')" onmouseout="cateOut()"><img
                    src="../img/icon/dod2.png" alt=""></a></li>
        </ul>
    </nav>
    <div class="cate_box2 cate_box_child7" onmouseover="cateHover('cate_box_child7')"
         onmouseout="cateOut()" style="z-index: 30;">
        <div class="nav_side_a">
            <ul>
                <li><a href="./mypage#" style="width: 75px;">마이페이지</a></li>
                <li><a href="./order-details#" style="width: 60px;">주문내역</a></li>
                <li><a href="./mileage#" style="width: 60px;">마일리지</a></li>
                <li><a href="./inquiry#" style="width: 65px;">1:1문의</a></li>
            </ul>
        </div>
    </div>
    <div class="cate_box3 cate_box_child8" onmouseover="cateHover('cate_box_child8')"
         onmouseout="cateOut()" style="z-index: 30;">
        <div class="nav_side_a">
            <ul>
                <li><a href="./notice#" style="width: 75px;">공지사항</a></li>
                <li><a href="./qna#" style="width: 60px;">Q&A</a></li>
                <li><a href="./faq#" style="width: 60px;">FAQ</a></li>
                <li><a href="./event#" style="width: 60px;">EVENT</a></li>
            </ul>
        </div>
    </div>
    <div class="header_logo">
        <h1 class="header_logo_hidden" ><a href="./main#">Merle Bleu</a></h1>
    </div>
    <div class="header_bottom_nav logo_menu" style="z-index: 10;">
        <ul>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child0')" onmouseout="cateOut()">NEW</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child1')" onmouseout="cateOut()">BEST</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child2')" onmouseout="cateOut()">기획전</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child3')" onmouseout="cateOut()">의류</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child4')" onmouseout="cateOut()">패션잡화</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child5')" onmouseout="cateOut()">스토리</a>
            </li>
            <li>
                <a href="#" onmouseover="cateHover('cate_box_child6')" onmouseout="cateOut()">
                    <img src="../img/icon/dod.png" alt="" class="search_img">
                </a>
            </li>
        </ul>
        <div class="cate_box cate_box_child0" onmouseover="cateHover('cate_box_child0')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <h3>NEW</h3>
                        <ul>
                            <li><a href="#">이달의
                                신상품</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#">NEW
                                컬렉션</a></li>
                        </ul>
                    </div>
                    <div><img src="../img/nav/new.jpg" alt=""></div>
                </div>
                <div class="nav_side">
                    <div class="nav_side_title">
                        <h3>이 달의 신상품</h3>
                    </div>
                    <ul>
                        <li>자유와 즐거움의 <br>에너지를 담은 멜 블루의 <br>NEW Merle Bleu <br><br><br><a href="#">SHOP
                            NOW</a></li>
                    </ul>
                    <div class="nav_side_img">
                        <img src="../img/nav/new4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child1" onmouseover="cateHover('cate_box_child1')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <h3>BEST</h3>
                        <ul>
                            <li><a href="./thismonth-best#">이달의 베스트</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="/merlebleu/outer-best#">아우터 베스트</a></li>
                        </ul>
                    </div>
                    <div><img src="../img/nav/best.jpg" alt=""></div>
                </div>
                <div class="nav_side">
                    <div>
                        <h3></h3>
                    </div>
                    <!-- <ul>
                        <li>자유와 즐거움의 <br>에너지를 담은 멜 블루의 <br>NEW Merle Bleu <br><br><br><a
                                href="#">SHOP
                                NOW</a></li>
                    </ul> -->
                    <div class="nav_side_img">
                        <img src="../img/nav/best2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child2" onmouseover="cateHover('cate_box_child2')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <h3>기획전</h3>
                        <ul>
                            <li><a href="./exelucive#" style="color: rgb(109, 109 ,109);">EXCLUCIVE</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div><img src="#" alt=""></div>
                </div>
                <div class="nav_side">
                    <div>
                        <div><img src="../img/nav/ex2.jpg" alt="" style="width: 220px;"></div>
                        <h3></h3>
                    </div>
                    <!-- <ul>
                        <li>자유와 즐거움의 <br>에너지를 담은 멜 블루의 <br>NEW Merle Bleu <br><br><br><a
                                href="#">SHOP
                                NOW</a></li>
                    </ul> -->
                    <div class="nav_side_img">
                        <img src="#" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child3" onmouseover="cateHover('cate_box_child3')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <h3>전체보기</h3>
                    </div>
                    <div class="box_cont_menu">
                        <h3><a href="/merlebleu/search_outer#">아우터</a></h3>
                        <ul>
                            <li><a href="/merlebleu/outer-jacket#" style="width: 30px;">쟈켓</a></li>
                            <li><a href="/merlebleu/outer-jumper#" style="width: 30px;">점퍼</a></li>
                            <li><a href="/merlebleu/outer-trench-coat#" style="width: 75px;">트렌치코트</a></li>
                            <li><a href="/merlebleu/outer-coat#" style="width: 30px;">코트</a></li>
                            <li><a href="/merlebleu/outer-padding#" style="width: 65px;">다운/패딩</a></li>
                            <li><a href="/merlebleu/outer-mustang#" style="width: 65px;">무스탕/퍼</a></li>
                            <li><a href="/merlebleu/outer-cardigan#" style="width: 45px;">가디건</a></li>
                        </ul>
                    </div>
                    <div class="box_cont_menu2">
                        <h3><a href="/merlebleu/search_top#">탑</a></h3></h3>
                        <ul>
                            <li><a href="/merlebleu/top-shirt#" style="width: 100px;">블라우스/셔츠</a></li>
                            <li><a href="/merlebleu/top-tshirt#" style="width: 45px;">티셔츠</a></li>
                            <li><a href="/merlebleu/top-neat#" style="width: 30px;">니트</a></li>
                            <li><a href="/merlebleu/top-sleeveless#" style="width: 75px;">슬리브리스</a></li>
                        </ul>
                    </div>
                    <div class="box_cont_menu3">
                        <h3><a href="/merlebleu/search_skirt#">스커트</a></h3></h3></h3>
                        <ul>
                            <li><a href="/merlebleu/skirt-mini#" style="width: 30px;">미니</a></li>
                            <li><a href="/merlebleu/skirt-pencil#" style="width: 30px;">팬슬</a></li>
                            <li><a href="/merlebleu/skirt-flare#" style="width: 45px;">플레어</a></li>
                            <li><a href="/merlebleu/skirt-denim#" style="width: 30px;">데님</a></li>
                        </ul>
                    </div>
                    <div class="box_cont_menu4">
                        <h3><a href="/merlebleu/search_pants#">팬츠</a></h3>
                        <ul>
                            <li><a href="/merlebleu/pants-formal#" style="width: 30px;">포멀</a></li>
                            <li><a href="/merlebleu/pants-casual#" style="width: 45px;">캐쥬얼</a></li>
                            <li><a href="/merlebleu/pants-shorts#" style="width: 30px;">쇼츠</a></li>
                            <li><a href="/merlebleu/pants-denim#" style="width: 30px;">데님</a></li>
                        </ul>
                    </div>
                    <div class="box_cont_menu5">
                        <h3><a href="/merlebleu/search_onepiece#">원피스</a></h3>
                        <ul>
                            <li><a href="/merlebleu/onepiece-mini#" style="width: 30px;">미니</a></li>
                            <li><a href="/merlebleu/onepiece-midi#" style="width: 30px;">미디</a></li>
                            <li><a href="/merlebleu/onepiece-long#" style="width: 15px;">롱</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child4" onmouseover="cateHover('cate_box_child4')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont cate_section">
                        <div class="box_cont_menu_stuff"
                             style="margin-top: -31px; margin-left: 22px; width: 100%;">
                            <h3><a href="/merlebleu/search_stuff#">패션잡화</a></h3>
                            <ul>
                                <li><a href="/merlebleu/stuff-bag#" style="width: 30px;">가방</a></li>
                                <li><a href="/merlebleu/stuff-shoes#" style="width: 30px;">슈즈</a></li>
                                <li><a href="/merlebleu/stuff-hat#" style="width: 30px;">모자</a></li>
                                <li><a href="/merlebleu/stuff-scarf#" style="width: 90px;">스카프/머플러</a></li>
                                <li><a href="/merlebleu/stuff-belt#" style="width: 30px;">벨트</a></li>
                                <li><a href="/merlebleu/stuff-socks#" style="width: 80px;">양말/스타킹</a></li>
                                <li><a href="/merlebleu/stuff-etc#" style="width: 30px;">기타</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_cont_menu_stuff1">
                        <ul>
                            <li><a href="/merlebleu/stuff-shoes#"><img src="../img/nav/more.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="box_cont_menu_stuff2">
                    <ul>
                        <li><a href="/merlebleu/stuff-bag#"><img src="../img/nav/more2.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="box_cont_menu_stuff3">
                    <ul>
                        <li><a href="/merlebleu/stuff-etc#"><img src="../img/nav/more3.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child5" onmouseover="cateHover('cate_box_child5')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap">
                    <div class="box_cont_menu_story">
                        <ul>
                            <li><a href=""><img src="../img/nav/story.png" alt=""></a></li>
                            <li><a href=""><img src="" alt=""></a></li>
                            <li><a href="/merlebleu/collection#"><img src="" alt="">컬렉션</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box_cont_menu_story2">
                    <ul>
                        <li><a href=""><img src="../img/nav/story2.png" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href="/merlebleu/news#"><img src="" alt="">뉴스/이벤트</a></li>
                    </ul>
                </div>
                <div class="box_cont_menu_story3">
                    <ul>
                        <li><a href=""><img src="../img/nav/story3.png" alt=""></a></li>
                        <li><a href=""><img src="" alt=""></a></li>
                        <li><a href="/merlebleu/brand#"><img src="" alt="">브랜드 소개</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cate_box cate_box_child6" onmouseover="cateHover('cate_box_child6')"
             onmouseout="cateOut()">
            <div class="wrap_nav">
                <div class="box_cont_wrap" style="margin-left: 50%;">
                    <div id="input-form" style="margin: 0 auto;" class="search_input">
                        <input autocomplete="off" class="search_input_detail" type="text"
                               id="searchKeyword1" placeholder="검색어를 입력하세요" style="padding: 15px;">
                        <button class="search_button" type="submit"
                                onclick="redirectToSearch1()">검색</button>
                        <br><span class="error-message" id="errorMessage1"></span>
                    </div>
                </div>
            </div>
            <div class="kategory">
                <ul>
                    <h3>카테고리 검색</h3>
                    <li><a href="/merlebleu/search_outer#">#아우터</a></li>
                    <li><a href="/merlebleu/search_top#">#탑</a></li>
                    <li><a href="/merlebleu/search_skirt#">#스커트</a></li>
                    <li><a href="/merlebleu/search_pants#">#팬츠</a></li>
                    <li><a href="/merlebleu/search_onepiece#">#원피스</a></li>
                    <li><a href="/merlebleu/search_stuff#">#패션잡화</a></li>
                </ul>
            </div>
            <div class="kategory_gif">
                <img src="../img/nav/MB.gif" alt="">
            </div>
        </div>
    </div>
</header>