<form id="searchForm1" onsubmit="redirectToSearch1(); return false;">
    <div class="main_wrap">
        <div class="header_content gna">
            <header class="common_menu">
                <nav class="header_nav ">
                    <ul>
                        <li><a href="../project/project.html"><img src="../img/icon/home2.png" alt=""></a></li>
                        <li><a href="#">브랜드</a></li><!--브랜드소개-->
                        <li><a href="#">BEST</a></li>
                        <li><a href="#" onmouseover="cateHover('cate_box_child9')" onmouseout="cateOut()">카테고리</a>
                        </li>
                        <li><a href="#">기획전</a></li>
                        <li><a href="#">HOT KEYWORD</a></li>
                        <li><a href="#">매거진</a></li>
                    </ul>
                    <div class="cate_box4 cate_box_child9" onmouseover="cateHover('cate_box_child9')"
                         onmouseout="cateOut()">
                        <div class="wrap_nav">
                            <div class="box_cont_wrap">
                                <div class="box_cont cate_section">
                                    <h3 style="font-size: 15px;">전체보기</h3>
                                </div>
                                <div class="box_cont_top_menu">
                                    <div class="nav_side_a">
                                        <h3><a href="#">아우터</a></h3>
                                        <ul>
                                            <li><a href="#" style="width: 50px;">쟈켓</a></li>
                                            <li><a href="" style="width: 50px;">점퍼</a></li>
                                            <li><a href="" style="width: 85px;">트렌치코트</a></li>
                                            <li><a href="" style="width: 50px;">코트</a></li>
                                            <li><a href="" style="width: 80px;">다운/패딩</a></li>
                                            <li><a href="" style="width: 80px;">무스탕/퍼</a></li>
                                            <li><a href="" style="width: 65px;">가디건</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box_cont_top_menu2">
                                    <div class="nav_side_a">
                                        <h3><a href="#">탑</a></h3>
                                        <ul>
                                            <li><a href="#" style="width: 100px;">블라우스/셔츠</a></li>
                                            <li><a href="" style="width: 60px;">티셔츠</a></li>
                                            <li><a href="" style="width: 50px;">니트</a></li>
                                            <li><a href="" style="width: 90px;">슬리브리스</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box_cont_top_menu3">
                                    <div class="nav_side_a">
                                        <h3><a href="#">스커트</a></h3>
                                        <ul>
                                            <li><a href="#" style="width: 50px;">미니</a></li>
                                            <li><a href="" style="width: 50px;">팬슬</a></li>
                                            <li><a href="" style="width: 60px;">플레어</a></li>
                                            <li><a href="" style="width: 50px;">데님</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box_cont_top_menu4">
                                    <div class="nav_side_a">
                                        <h3><a href="#">팬츠</a></h3>
                                        <ul>
                                            <li><a href="#" style="width: 50px;">포멀</a></li>
                                            <li><a href="" style="width: 60px;">캐쥬얼</a></li>
                                            <li><a href="" style="width: 50px;">쇼츠</a></li>
                                            <li><a href="" style="width: 50px;">데님</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box_cont_top_menu5">
                                    <div class="nav_side_a">
                                        <h3><a href="#">원피스</a></h3>
                                        <ul>
                                            <li><a href="#" style="width: 50px;">미니</a></li>
                                            <li><a href="" style="width: 50px;">미디</a></li>
                                            <li><a href="" style="margin-left: -10px;">롱</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header_logo_top">
                        <a href="../project/project.html" class="header_logo_top_a">
                            <h1>Merle Bleu</h1>
                        </a>
                    </div>
                    <ul class="top_logo">
                        <li><a href="">LOGIN/JOIN</a></li>
                        <li><a href="" onmouseover="cateHover('cate_box_child8')"
                               onmouseout="cateOut()">COMMUNITY</a></li>
                        <li><a href=""><img src="../img/icon/jjim.png" alt=""></a></li>
                        <li><a href="" onmouseover="cateHover('cate_box_child7')" onmouseout="cateOut()"><img
                                src="../img/icon/loginwh.png" alt=""></a></li>
                        <li><a href=""><img src="../img/icon/j.png" alt=""></a></li>
                        <li><a href="" onmouseover="cateHover('cate_box_child10')" onmouseout="cateOut()"><img
                                src="../img/icon/dod2.png" alt=""></a></li>
                    </ul>
                </nav>
                <div class="cate_box2 cate_box_child7" onmouseover="cateHover('cate_box_child7')"
                     onmouseout="cateOut()" style="z-index: 30;">
                    <div class="nav_side_a">
                        <ul>
                            <li><a href="./mypage" style="width: 75px;">마이페이지</a></li>
                            <li><a href="./orderDetail" style="width: 60px;">주문내역</a></li>
                            <li><a href="#" style="width: 60px;">쿠폰조회</a></li>
                            <li><a href="#" style="width: 60px;">마일리지</a></li>
                            <li><a href="./mypageQna" style="width: 65px;">1:1문의</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cate_box3 cate_box_child8" onmouseover="cateHover('cate_box_child8')"
                     onmouseout="cateOut()" style="z-index: 30;">
                    <div class="nav_side_a">
                        <ul>
                            <li><a href="#" style="width: 75px;">공지사항</a></li>
                            <li><a href="#" style="width: 60px;">Q&A</a></li>
                            <li><a href="#" style="width: 60px;">FAQ</a></li>
                            <li><a href="#" style="width: 60px;">EVENT</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#" onmouseover="cateHover('cate_box_child0')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child1')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child2')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child3')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child4')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child5')" onmouseout="cateOut()"></a>

                <a href="#" onmouseover="cateHover('cate_box_child6')" onmouseout="cateOut()">
                </a>

                <div class="cate_box cate_box_child0" onmouseover="cateHover('cate_box_child0')"
                     onmouseout="cateOut()">
                    <div class="cate_box cate_box_child1" onmouseover="cateHover('cate_box_child1')"
                         onmouseout="cateOut()">
                        <div class="cate_box cate_box_child2" onmouseover="cateHover('cate_box_child2')"
                             onmouseout="cateOut()">
                            <div class="cate_box cate_box_child3" onmouseover="cateHover('cate_box_child3')"
                                 onmouseout="cateOut()">
                                <div class="cate_box cate_box_child4" onmouseover="cateHover('cate_box_child4')"
                                     onmouseout="cateOut()">
                                    <div class="cate_box cate_box_child5" onmouseover="cateHover('cate_box_child5')"
                                         onmouseout="cateOut()">
                                        <div class="cate_box cate_box_child6"
                                             onmouseover="cateHover('cate_box_child6')" onmouseout="cateOut()">
                                        </div>
                                    </div>
            </header>
        </div>
        <div class="mySlides fade">
        </div>
        <div style="text-align:center; margin-top: -200px;">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</form>
<form id="searchForm2" onsubmit="handleSearch(); return false;">
    <div class="cate_box5 cate_box_child10" onmouseover="cateHover('cate_box_child10')" onmouseout="cateOut()">
        <div class="wrap_nav2">
            <div class="box_cont_wrap2" style="margin-left: 50%;">
                <div id="input-form" style="margin: 0 auto;" class="search_input">
                    <input autocomplete="off" class="search_input_detail" type="text" id="searchKeyword2"
                           placeholder="검색어를 입력하세요" style="padding: 15px;">
                    <button class="search_button" type="submit" onclick="handleSearch()">검색</button>
                    <p style="margin-bottom: -15px;" class="error-message" id="errorMessage2"></p>
                </div>
            </div>
        </div>
        <div class="kategory2">
            <ul>
                <h3>카테고리 검색</h3>
                <li><a href="">#아우터</a></li>
                <li><a href="">#탑</a></li>
                <li><a href="">#스커트</a></li>
                <li><a href="">#팬츠</a></li>
                <li><a href="">#원피스</a></li>
            </ul>
        </div>
        <div class="srch_keyword_box">
            <div class="recent_keyword">
                <h3>최근 검색어</h3>
                <a class="delete" onclick="allDeleteCookie()" style="cursor: pointer;">전체삭제</a>
                <ul id="recentSearchList">
                </ul>
            </div>
        </div>
    </div>
</form>